@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.font-orbitron-24 {
  font-family: 'Orbitron', sans-serif;
  font-size: 24px;
  color: #333333;
}

.font-orbitron-16 {
  font-family: 'Orbitron', sans-serif;
  font-size: 16px;
  color: #333333;
}

.font-orbitron-12 {
  font-family: 'Orbitron', sans-serif;
  font-size: 12px;
  color: #333333;
}

.font-orbitron-24-bold {
  font-family: 'Orbitron', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}

.font-orbitron-24-italic {
  font-family: 'Orbitron', sans-serif;
  font-size: 24px;
  font-style: italic;
  color: #333333;
}

.font-orbitron-24-bold-italic {
  font-family: 'Orbitron', sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  color: #333333;
}

.font-orbitron-16-bold {
  font-family: 'Orbitron', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #333333;
}

.font-orbitron-16-italic {
  font-family: 'Orbitron', sans-serif;
  font-size: 16px;
  font-style: italic;
  color: #333333;
}

.font-orbitron-16-bold-italic {
  font-family: 'Orbitron', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  color: #333333;
}

.font-orbitron-12-bold {
  font-family: 'Orbitron', sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #333333;
}

.font-orbitron-12-italic {
  font-family: 'Orbitron', sans-serif;
  font-size: 12px;
  font-style: italic;
  color: #333333;
}

.font-orbitron-12-bold-italic {
  font-family: 'Orbitron', sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  color: #333333;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.homepage-content {
  min-height: 50vh;
  max-height: 80vh;
}

.circle-one {
  animation: move1 10s linear infinite;
}

.circle-two {
  animation: move2 10s linear infinite;
}

@keyframes move1 {
  0% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(200px, 200px) scale(1);
  }
  50% {
    transform: translate(100px, 400px) scale(1.2);
  }
  75% {
    transform: translate(-100px, -200px) scale(1.1);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

@keyframes move2 {
  0% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(-200px, -200px) scale(1);
  }
  50% {
    transform: translate(-100px, -400px) scale(1.2);
  }
  75% {
    transform: translate(100px, 200px) scale(1.1);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.large-container {
  max-width: 72rem;
  margin: 0 auto;
  padding: 1.5rem;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.show-scrollbar:hover {
  scrollbar-width: auto;
  -ms-overflow-style: auto;
}

.show-scrollbar:hover::-webkit-scrollbar {
  display: block;
}

@media (max-width: 767px) and (orientation: landscape) {
  .mobile-landscape {
    grid-template-columns: repeat(2, minmax(150px, 1fr)) !important;
  }
}

