@tailwind base;
@tailwind components;
@tailwind utilities;

.homepage-content {
  min-height: 50vh;
  max-height: 80vh;
}

.circle-one {
  animation: move1 10s linear infinite;
}

.circle-two {
  animation: move2 10s linear infinite;
}

@keyframes move1 {
  0% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(200px, 200px) scale(1);
  }
  50% {
    transform: translate(100px, 400px) scale(1.2);
  }
  75% {
    transform: translate(-100px, -200px) scale(1.1);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

@keyframes move2 {
  0% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(-200px, -200px) scale(1);
  }
  50% {
    transform: translate(-100px, -400px) scale(1.2);
  }
  75% {
    transform: translate(100px, 200px) scale(1.1);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.large-container {
  max-width: 72rem;
  margin: 0 auto;
  padding: 1.5rem;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.show-scrollbar:hover {
  scrollbar-width: auto;
  -ms-overflow-style: auto;
}

.show-scrollbar:hover::-webkit-scrollbar {
  display: block;
}

@media (max-width: 767px) and (orientation: landscape) {
  .mobile-landscape {
    grid-template-columns: repeat(2, minmax(150px, 1fr)) !important;
  }
}
